body {
  background-color: #12372A;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #ADBC9F;
  width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

header#banner a {
  color: #ADBC9F;
  text-decoration: none;
}

a {
  color: #FBFADA;
  text-decoration: none;
}

pre {
  font-size: 0.88em;
  padding: 20px;
  border: #337357 1px dashed;
}

article img {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

article li {
  list-style: tibetan;
}

.list-article-time {
  font-size: 0.8em;
  color: grey;
}

time {
  font-size: 0.8em;
  color: grey;
}

.copyright {
  font-size: 0.9em;
  color: #ADBC9F;
}