body {
  background-color: #EFECEC;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #0C2D57;
  width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}


li {
  list-style: tibetan;
}

header#banner a {
  color: #FFB0B0;
  text-decoration: none;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin-right: 10px;
  list-style: none;
}

a {
  color: #FC6736;
  text-decoration: none;
}

pre {
  font-size: 0.88em;
  padding: 20px;
  border: #337357 1px dashed;
}

article img {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  height: auto;
}


article ul > li {
  list-style: tibetan;
}

.list-article-time {
  font-size: 0.8em;
  color: grey;
}

.last-updated {
  font-size: 0.7em;
  color: #1c1b1b;
}

time {
  font-size: 0.7em;
  color: #FFB0B0;
}

.cn-post {
  font-size: 0.9em;
}

.copyright {
  font-size: 0.9em;
  color: #FFB0B0;
}

/*bootstrap SVG-Icons*/

.bi {
  color: #cfd9e5;
}

.bi:hover{
  color: #FFB0B0;
}

.bi-link {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}
