<head>
    <meta charset="utf-8">
    {{ $css := resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" />
    <title> {{ .Title }} </title>
    {{ if not .Site.IsServer }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PN3F6HCHZB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PN3F6HCHZB');
    </script>

    {{ end }}
</head>