{{ if not .Site.IsServer }}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLRH33H"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                <a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>