{{ define "main"}}
<div>
    <div class="index-content">
        {{ .Content }}
    </div>
    <div class="posts">
        <div>
            <h4>Articles (English)</h4>
            {{ range ( where .Site.RegularPages "Type" "en" | first 10 ) }}
            <li>
                <a href="{{ .Permalink }}"> {{ .Title }} </a> <span class="list-article-time">{{.Params.date.Format "Mon Jan 2, 2006"}}</span>
            </li>
            {{ end }}
        </div>

        <div class="cn-post">
            <h4>最近文章 (中文）</h4>
            {{ range ( where .Site.RegularPages "Type" "cn" | first 10 ) }}
            <li>
                <a href="{{ .Permalink }}"> {{ .Title }} </a> <span class="list-article-time">{{.Params.date.Format "Mon Jan 2, 2006"}}</span>
            </li>
            {{ end }}
        </div>
    </div>

</div>
{{ end }}

